numpy>=1.20
click>=8.0
pillow==8.3.2
scipy==1.10.1
requests=2.26.0
tqdm==4.61.2
ninja==1.13.0
matplotlib==3.4.3
glfw==2.2.0
imageio-ffmpeg==0.4.3
urllib3==1.26.20
wandb==0.15.12
pyspng
ftfy
packaging
regex
tqdm
torch>=1.8.1
torchvision>=0.9.1
timm==0.4.12
antialiased_cnns
gdown==4.4.0
clean-fid


- pip install clip@git+https://github.com/openai/CLIP.git
or 
- cd vision_aided_loss/CLIP
- python setup.py install


